body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(#ffffff, #f2f2f2);
}

header, footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.subheader {
  background-color: #666;
  color: white;
  padding: 10px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 12.5%; /* 1/8 on each side */
}

#article-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.article {
  background-color: #8b6969;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(25% - 20px); /* 4 columns */
  box-sizing: border-box;
}

/* Load more button styles */
#load-more-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}
